{% extends 'image_gallery/base.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'image_gallery/styles/delete_view.css' %}">{% endblock head %}
{% block title %} DELETE IMAGE {% endblock title %}


{% block content %}

<div class="alert-container top-border-gradient">
  <p>Are you sure you want to delete the image? </p>

  <form action="" method="POST">
    {% csrf_token %}
    <div class="btns-container">
      <button type=button class="btn" onclick="history.back()">Cancel</button>
      <input class="btn delete-btn" type="submit" value="Yes, delete.">
    </div>
  </form>
</div>

{% endblock content%}